body
{
  font-family: "Raleway", sans-serif;
}
.clearfix::before, .clearfix::after
{
  display: block;
  clear: both;
  content: "";
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
a:visited, a:active, a:link
{
  text-decoration: none;
  color: #000000;
}
a:hover
{
  color: #666666;
}
input[type="submit"]:hover
{
  opacity: 0.7;
  cursor: pointer;
}
.color-mint
{
  color: #27c7ab;
}
.color-white
{
  color: #ffffff;
}
.b-mint
{
  background-color: #27c7ab;
}
.b-white
{
  background-color: #ffffff;
}
.b-lightgrey
{
  background-color: rgb(249, 249, 249);
}
.b-grey
{
  background-color: rgb(242, 242, 242);
}
.b-darkgrey
{
  background-color: rgb(229, 229, 229);
}
.small
{
  font-weight: 800;
}
.big
{
  font-weight: 700;
}
.big-numbers
{
  font-size: 45px;
  font-weight: 700;
}
#beginning
{
  height: 541px;
  width: 100%;
}
.main-header
{
  height: 41px;
  color: white;
  background-color: #000;
}
.logo
{
  float: left;
  height: 21px;
  margin-top: 10px;
  margin-left: 100px;
}
.logo a
{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}
.main-menu
{
  float: right;
  height: 21px;
  margin-top: 10px;
  margin-right: 78px;
}
.main-menu ul
{
  margin: 0;
}
.main-menu>ul>li
{
  display: inline-block;
  margin-left: 39px;
  position: relative;
}
.main-menu a
{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
}
.hidden-menu
{
  position: absolute;
  left: -25px;
  top: 40px;
  z-index: 5;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
}
.hidden-menu li
{
  padding: 5px 10px;
}

#menu-point:hover .hidden-menu
{
  visibility: visible;
  opacity: 1;
}
.hidden-menu::after
{
  content: "";
  position: absolute;
  top: -22px;
  left: 50px;
  margin-left: -12px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  z-index: 10;
}
.lower-header
{
  height: 500px;
  position: relative;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: pro
  gid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.left-bird, .right-bird
{
  height: 60px;
  width: 60px;
  font-size: 80px;
  font-weight: 300;
  position:absolute;
  z-index: 5;
  top: 198px;
}
.left-bird
{
  left: 63px;
}
.right-bird
{
  left: 1106px;
}

.header-image
{
  float: left;
  width: 500px;
  height: 430px;
  position: absolute;
  top: 60px;
  left:70px;
  background: url(../images/black_chair.png) no-repeat center/cover;
}
.header-text
{
  float: right;
  width: 500px;
  text-align: center;
  position: absolute;
  left: 528px;
  top: 98px;

}
.header-text h1
{
  font-size: 40px;
  width: 100%;
  font-weight: 500;
  margin-top: 30px;
}
.header-text p
{
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 22px;
}
.header-input
{
  margin-top: 15px;
}
input[type="submit"]
{
  background-color: #24baa0;
  border-radius: 10px;
  color: white;
  height: 53px;
  width: 264px;
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
/* -----------------SEKCJA MIDDLE---------------*/
#middle
{
  height: 350px;
  width: 100%;
}
#middle div[class*="middle"]
{
  float: left;
  height: 252px;
  width: 355px;
  margin-top: 30px;
  position: relative;
}
#middle > div > div:first-of-type
{
  margin-left: 68px;
}
.mid-white
{
  background-color: rgba(255, 255, 255, 0.5);
  height: 62px;
  width: 355px;
  position: absolute;
  top: 150px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}
.midline
{
  height: 7px;
  width: 138px;
  z-index: 3;
  margin-bottom: 10px;
}
.middle-text
{
  width: 338px;
  border: solid rgb(221, 221, 221) 1px;
}
.mid-text
{
  font-size: 14px;
  font-weight: 400;
  padding: 0 30px;
  color: #565656;
}
.mid-text > h3
{
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
}

/*SEKCJA PRICE LIST*/
#price-list
{
  height: 725px;
  width: 100%;
}
.price-list-header, .price-list-content
{
  background-color: rgb(242, 242, 242);
}
.price-list-header
{
  height: 160px;
  width: 100%;
}
.price-list-content
{
  height: 565px;
  width: 100%;
}
.price-list-content div[class*="price"]
{
  height: 497px;
  width: 326px;
  float: left;
  margin-right: 35px;
  position: relative;
}
h4
{
  font-size: 26px;
  font-weight: 400;
  margin-top: 26px;
  text-align: center;
}
.price-first
{
  margin-left: 68px;
}
.p-circle
{
  height: 131px;
  width: 131px;
  border-radius: 50%;
  position: absolute;
  top: 79px;
  left: 98px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #c6c6c6;
  padding-top: 25px;
}
.p-line
{
  width: 100%;
  height: 46px;
  text-align: center;
  font-size: 400;
  font-size: 24px;
  line-height: 20px;
  color: #939393;
  padding-top: 10px;
}
.p-line.top
{
  margin-top: 190px;
}

.p-submit > input
{
  width: 122px;
  height: 34px;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  top: 444px;
  left: 104px;
}
#white-submit
{
  background-color: #ffffff;
  color: #27c7ab;
}
.price-first, .price-third, .p-circle
{
  border: rgb(215, 214, 214) solid 2px;
}
.price-second
{
  border: #27c7ab solid 2px;
}
.super
{
  vertical-align: super;
}
.big-ring
{
  width: 57px;
  height: 57px;
  border-radius: 50%;
  border: rgb(215, 214, 214) solid 2px;
  position: absolute;
  left: 134px;
  top:-39px;
}
.small-ring
{
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  left: 13px;
}
.big-ring.b-mint
{
  border-color: #27c7ab;
}
/*sekcja footer*/
#footer
{
  height: 657px;
  width: 100%;
}
.form-header
{
  height: 125px;
  width: 100%;
}
.form
{
  height: 465px;
  width: 100%;
  margin-top: 20px;
}
.longline
{
  height: 8px;
  width: 320px;
  margin-left: 68px;
}
.price-list-header>h2
{
  padding-top: 42px;
  padding-bottom: 10px;
}
h2
{
  color: #575757;
  font-size: 22px;
  font-weight: 500;
  margin-left: 68px;
}
.form-header>h2
{
  padding-top: 32px;
  padding-bottom: 10px;
}
.left-form
{
  float: left;
  width: 633px;
  margin-left: 68px;
  height: 400px;
}
.right-form
{
  float: left;
  width: 380px;
  margin-left: 40px;
  height: 400px;
}
.form-cell
{
  width: 100%;
  padding: 14px 0;
}
input[type="text"], input[type="email"]
{
  width: 633px;
  height: 64px;
  border: solid 1px #27c7ab;
  font-size: 33px;
  color: #cacaca;
  font-weight: 300;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  padding-left: 10px;
}
textarea
{
  width: 633px;
  height: 187px;
  resize: none;
  border-color: #27c7ab;
  font-size: 33px;
  color: #cacaca;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  padding-left: 10px;
  padding-top: 10px;
}
.right-form > div >img
{
  margin-left: 40px;
}
.checkbox-group{
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300px;
  color: #aeaeae;
  padding-left: 20px;
}
.checkbox-group:after{
  content: '';
  clear: both;
  display: block;
}
.checkbox-group > span{
  float: left;
}
.custom-checkbox{
	display:inline-block;
  line-height: 20px;
  margin-right: 10px;
}
.custom-checkbox input[type="checkbox"]{
	display: none;
}
.custom-checkbox input[type="checkbox"] + label{
  display: inline-block;
  float: left;
  width: 46px;
  height: 46px;
  border: 1px #27c7ab solid;
}
.custom-checkbox input[type="checkbox"] + label:after{
  content: '';
   width: 42px;
   height: 42px;
   background: url(../images/form_ok.jpg) no-repeat center/100%;
   display: none;
 }
 .custom-checkbox input[type="checkbox"]:checked + label:after{
   display: block;
 }
.form-full > input[type="submit"]
{
  width: 343px;
  height: 71px;
  outline: none;
  font-weight: 700;
  font-size: 34px;
}
.form-full
{
  margin-top: 30px;
  margin-left: 15px;
}
.main-footer>div
{
  float: left;
  padding: 5px;
}
.footer-copy
{
  margin-left: 68px;
  width: 685px;
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 400px;
}
.footer-copy p
{
  padding-top: 12px;
}

.footer-text
{
  margin-left: 50px;
  margin-top: 5px;
}
.footer-text > a
{
  font-size: 20px;
  font-weight: 600px;
  color: #9b9b9b;
}
.main-footer div[class*="logo"]:hover
{
  opacity: 0.6;
}
